* @DataDog/datadog-ci


# Commands (grouped by product)

## CI Visibility (label: ci-visibility)
src/commands/junit         @DataDog/ci-app-libraries
src/commands/gate          @DataDog/ci-app-libraries
src/commands/metric        @DataDog/ci-app-libraries
src/commands/tag           @DataDog/ci-app-libraries
src/commands/trace         @DataDog/ci-app-libraries
src/commands/dora          @DataDog/ci-app-libraries
src/commands/deployment    @DataDog/ci-app-libraries

## Static Analysis (label: static-analysis)
src/commands/sarif   @DataDog/static-analysis-core
src/commands/sbom    @DataDog/static-analysis-core

## RUM (label: rum)
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/unity-symbols    @Datadog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile
src/commands/sourcemaps       @DataDog/rum-browser

## Serverless (label: serverless)
src/commands/lambda         @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless
src/commands/cloud-run      @DataDog/serverless

## Source Code Integration (label: source-code-integration)
src/commands/git-metadata  @DataDog/source-code-integration

## Synthetics (label: synthetics)
src/commands/synthetics  @DataDog/synthetics-ct

## Profiling (label: profiling)
src/commands/elf-symbols  @DataDog/profiling-native

# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
