# See https://github.com/DataDog/datadog-ci/issues/labels for the list of labels

name: PR labels
on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize

jobs:
  categorize:
    name: Categorize PR
    runs-on: ubuntu-latest
    steps:
      - name: At least one label required
        uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: |
            dependencies
            documentation
            chores
            release
            ci-visibility
            static-analysis
            rum
            serverless
            source-code-integration
            synthetics
