# See https://github.com/DataDog/datadog-ci/issues/labels for the list of labels

name: PR labels
on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize

jobs:
  categorize:
    name: Categorize PR
    runs-on: ubuntu-latest
    steps:
      - name: At least one label required
        uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5.1
        with:
          # If a PR has multiple labels, its category in the release notes will be the first one
          # in the `categories` list in `.github/release.yml` to match any of the PR's labels.
          #
          # Example: `synthetics, documentation` would be categorized as "Documentation".
          mode: minimum
          count: 1
          labels: |
            datadog-ci
            dependencies
            documentation
            chores
            release
            ci-visibility
            static-analysis
            rum
            serverless
            source-code-integration
            synthetics
            profiling
