name: Publish package on NPM (pre-release)
on:
  release:
    types: [prereleased]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.19.0
      - run: |
          # Isolate the tag and exit if none found
          IFS='-' read -ra ARR_TAG <<< $TAG
          if ((${#ARR_TAG[@]} <= 1)); then echo "Missing channel in given tag '$TAG'. Should be in the format '<version>-<channel>'" && exit 1; fi
          TAG_TO_PUBLISH=${ARR_TAG[${#ARR_TAG[@]} - 1]}

          # Publish on npm in the correct channel
          yarn
          echo "Publishing on $TAG_TO_PUBLISH channel."
          yarn publish:all --tag=$TAG_TO_PUBLISH
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.YARN_NPM_AUTH_TOKEN }}
          TAG: ${{ github.event.release.tag_name }}
