name: Test publish package on NPM

on:
  push:
    branches: [corentin.girard/SYNTH-23939/init-plugin]

permissions:
  id-token: write

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --immutable
      - run: yarn workspace @datadog/datadog-ci-plugin-junit npm publish --provenance
